@import url("./fonts/stylesheets.css");
@import url(./burger-menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Устанавливает модель расчета 
    размеров элемента так, что ширина и высота включают 
    внутренние отступы (padding) и границы (border). 
    Это упрощает управление размерами элементов и 
    предотвращает неожиданные изменения размеров 
    при добавлении отступов и границ. */
  }

/* Необходимые классы */

.darkBg{
  background-color: #2B2B2B;
}

.silverBlackBg{
  background-color: #3B3B3B;
}

.WorkSans{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

.WorkSansFW400{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.SpaceMono{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.dFlex{
  display: flex; /* Превращает .home в flex-контейнер */
}

.aICenter{
  align-items: center; /* Выравнивает дочерние элементы 
  по центру по вертикали */
}

.jCCenter{
  justify-content: center; /* Центрирует дочерние элементы по главной оси */
}

.jCSpaceBetween{
  justify-content: space-between; /* Распределяет дочерние 
  элементы равномерно по главной оси */
}

.jCRight{
  justify-content: flex-end; /* Распределяет дочерние элементы 
  в конец главной оси */
}

.whiteText{
  color: white;
}

.lSNone{
  list-style: none; /* Убирает маркеры у списка */
}

.tDNone{
  text-decoration: none; /* Убирает подчеркивание текста */
}

.bRadius{
  border-radius: 20px; /* Закругляет углы элемента */
}

.gap30{
  gap: 30px; /* Устанавливает промежуток между элементами */
}

.gap20{
  gap: 20px; /* Устанавливает промежуток между элементами */
}

.gap15{
  gap: 15px; /* Устанавливает промежуток между элементами */
}

.gap12{
  gap: 12px; /* Устанавливает промежуток между элементами */
}

.mb20{
  margin-bottom: 20px; /* Устанавливает отступ снизу */
}

.mb30{
  margin-bottom: 30px; /* Устанавливает отступ снизу */
}

/* Кастомные классы (которые могут повторяться)*/

.BtnBg{
  background-color: #A259FF;
  border: none;
}

.purpleBB{
  border-bottom: 1.5px solid #A259FF;
}

/* Классы с отдельными размерами и отступами */

header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  width: 100%;
  height: 100px;
  position: fixed; /* Фиксирует навбар */
  top: 0; /* Располагает навбар в верхней части страницы */
  left: 0; /* Располагает навбар по левому краю страницы */
  z-index: 1000; /* Устанавливает высокий z-index, чтобы навбар был поверх других элементов */
  background-color: rgba(43, 43, 43, 1); /* Устанавливает начальный непрозрачный фон для навбара */
  transition: background-color 0.3s; /* Добавляет плавный переход для изменения фона */
}

.home{
  margin-left: 55px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 243.41px;
  height: 32px;
}

.home:hover .homeLogo path {
  fill: white;
  transition: fill 0.999s ease;
}

.home:hover .NFTMarketplace{
  color: #A259FF;
  transition: color 0.999s ease;
}

.homeLogo{
  width: 32px;
  height: 32px;
}

.NFTMarketplace{
  width: 199.41px;
  height: 19.8px;
  margin-left: 12px;
  margin-bottom: 3.6px;
}

.menuInNav{
  margin-right: 50px;
  margin-top: 21px;
  margin-bottom: 32px;
  width: 607px;
  height: 60px;
  display: flex;
  padding: 0; /* Убирает отступы */
}

.marketPlace{
  width: 139px;
  height: 46px;
}

.marketPlaceText{
  width: 99px;
  height: 22px;
  size: 16px;
  line-height: 22.4px;
  padding: 20px 20px;
}

.marketPlace:hover .marketPlaceText{
  color: #A259FF;
  transition: color 0.999s ease;
}

.rankings{
  width: 112px;
  height: 46px;
}

.rankingsText{
  width: 72px;
  height: 22px;
  size: 16px;
  line-height: 22.4px;
  padding: 24px 20px;
}

.rankings:hover .rankingsText{
  color: #A259FF;
  transition: color 0.999s ease;
}

.connectAWallet{
  width: 174px;
  height: 46px;
}

.connectAWalletText{
  width: 134px;
  height: 22px;
  size: 16px;
  line-height: 22.4px;
  padding: 24px 20px;
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
}

.connectAWallet:hover .connectAWalletText{
  color: #A259FF;
  transition: color 0.999s ease;
}

.btnOfSignUp{
  gap: 10px;
  padding: 10px 20px;
  width: 152px;
  height: 60px;
}

.btnOfSignUp:hover .signUpText{
  color: #A259FF;
  transition: color 0.999s ease;
}

.btnOfSignUp:hover .signUpLogo path{
  fill: #A259FF;
  transition: fill 0.999s ease;
}

.btnOfSignUp:hover{
  background-color: #2B2B2B;
  border: 3px solid #A259FF;
  transition: background-color 0.999s ease;
}

.signUpLogo{
  width: 20px;
  height: 20px;
}

.signUpText{
  font-size: 16px;
  width: 60px;
  height: 22px;
  line-height: 22.4px;
}

.clickableForm{
  cursor: pointer; /* Изменяет указатель мыши на клик */
  color: inherit; /* Наследует цвет текста */
}

/* Основные стили для бургер-меню */
.burger-menu {
  display: none; /* Скрывает бургер-меню по умолчанию */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 50px; /* Отступ справа */
  margin-top: 12px; /* Отступ сверху */
  margin-bottom: 12px; /* Отступ снизу */
}

.burger-menu svg {
  fill: white; /* Начальный цвет иконки */
  transition: fill 0.333s ease; /* Плавный переход для изменения цвета */
}

.burger-menu:hover svg path {
  fill: #A259FF; /* Меняет цвет иконки на фиолетовый при наведении */
  transition: fill 0.333s ease;
}

main .main{
  width: 1280px;
  height: 704px;
}

.HeroSection{
  width: 1280px;
  height: 704px;
}

.HeroDivMain{
  width: 1050px;
  height: 544px;
  margin: 80px 115px;
}

.headlineAboutNFT{
  width: 512px;
  height: 222px;
  font-size: 67px;
  line-height: 73.7px;
}

.cardOfHero{
  width: 510px;
  height: 510px;
}

.imagePlaceholder{
  width: 510px;
  height: 401px;
}

.descriptionAboutNFT{
  width: 510px;
  height: 105px;
  font-size: 22px;
  line-height: 35.2px;
}

.btnOfGetStarted{
  width: 224px;
  height: 60px;
}

.rocketLaunchIcon{
  width: 20px;
  height: 20px;
}

.GetStartedText{
  width: 92px;
  height: 22px;
  size: 16px;
  line-height: 22.4px;
}

.estimatesText{
  width: 150px;
  height: 38px;
  size: 23.99px;
  line-height: 38.38px;
}

.imagePlaceholder{
  width: 510px;
  height: 401px;
  margin-bottom: 22px;
}
.nameOfImage{
  margin-left: 20px;
  margin-bottom: 10px;
  width: 470px;
  height: 31px;
  font-size: 22px;
  line-height: 30.8px;
}

.Author{
  margin-left: 20px;
  width: 470px;
  height: 24px;
  font-size: 16px;
  line-height: 22.4px;
}

.authorText{
  width: 434px;
  height: 22px;
  size: 16px;
  line-height: 22.4px;
  margin-bottom: 22px;
}

.btnOfGetStarted:hover .getStartedText{
  color: #A259FF;
  transition: color 0.999s ease;
}

.btnOfGetStarted:hover .rocketLaunchIcon path{
  fill: #A259FF;
  transition: fill 0.999s ease;
}

.btnOfGetStarted:hover{
  background-color: #2B2B2B;
  border: 3px solid #A259FF;
  transition: background-color 0.999s ease;
}

/* Планшеты (ширина 974px и высота 54px) */
@media (max-width: 974px) {
  header{
    height: 54px; /* Высота для планшетов */
    display: flex;
    align-items: center;
  }

  nav {
    height: 54px; /* Высота для планшетов */
    display: flex;
    align-items: center;
  }

  .home {
    margin-left: 50px;
    width: 182.56px;
    height: 24px;
  }

  .homeLogo {
    width: 24px;
    height: 24px;
    size: 24px;
  }

  .NFTMarketplace{
    width: 149.56px;
    height: 14.85px;
    align-items: center;
    white-space: nowrap;
    font-size: 14px; /* Устанавливает размер шрифта */
    margin-top: 6.4px;
    margin-bottom: 3px;
  }

  .menuInNav {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-start;
    display: none; /* Скрывает меню по умолчанию */
  }

  .menuInNav.active {
    display: flex; /* Показывает меню при активном бургер-меню */
  }

  .menuInNav {
    display: none; /* Скрывает меню по умолчанию */
  }

  .menuInNav.active {
    display: flex; /* Показывает меню при активном бургер-меню */
  }

  .menuInNav li {
    margin-bottom: 10px; /* Отступ между элементами списка */
  }

  .btnOfSignUp {
    width: 100%; /* Кнопка занимает всю ширину */
    justify-content: center;
  }

  .burger-menu {
    display: flex; /* Показывает бургер-меню на планшетах */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 50px; /* Отступ справа */
    margin-top: 12px; /* Отступ сверху */
    margin-bottom: 12px; /* Отступ снизу */
  }

  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: background-color 0.999s ease; /* Плавный переход для изменения цвета фона */
  }
  
  .burger-menu-svg {
    fill: white; /* Начальный цвет иконки */
    transition: fill 0.999s ease; /* Плавный переход для изменения цвета */
  }
  
  .burger-menu-svg:hover {
    fill: #A259FF; /* Меняет цвет иконки на фиолетовый при наведении */
    transition: fill 0.999s ease; /* Плавный переход для изменения цвета */
  }
}

/* Мобильные устройства (ширина 375px и высота 54px) */
@media (max-width: 375px) {
  nav {
    height: 54px; /* Высота для мобильных устройств */
    padding: 10px 0px;
  }

  .home {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 182.56px;
    height: 24px;
  }

  .homeLogo{
    width: 24px;
    height: 24px;
    size: 24px;
  }

  .NFTMarketplace{
    width: 149.56px;
    height: 14.85px;
    align-items: center;
    white-space: nowrap;
    font-size: 12px; /* Устанавливает размер шрифта */
    margin-top: 6.4px;
    margin-bottom: 3px;
  }

  .menuInNav {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-start;
    display: none; /* Скрывает меню по умолчанию */
  }

  .menuInNav.active {
    display: flex; /* Показывает меню при активном бургер-меню */
  }

  .menuInNav li {
    margin-bottom: 5px; /* Отступ между элементами списка */
  }

  .btnOfSignUp {
    width: 100%; /* Кнопка занимает всю ширину */
    justify-content: center;
  }

  .burger-menu {
    display: flex; /* Показывает бургер-меню */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill 0.999s ease;
    margin-right: 30px;
  }
}